<div class="landing-container">
  <div class="banner-home">
    <h1 class='mb-4'>WhatToCook.</h1>
    <h3>Reduce waste & save money by making the most of the ingredients you already have!</h3>
    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div class="mx-auto" style="width: 400px; margin-top: 100px;">
      <%= form_with(url: index_path, method: 'get', local: true) do %>
        <div class="form-group">
          <%= label_tag :ingredients, 'Search for a recipe based on your ingredients: ', class: 'mb-2', style: 'font-size: 20px;' %>
          <div class="submit-bar d-flex">
            <%= text_field_tag :ingredients, nil, placeholder: 'Eg. Onion, Carrot, Chorizo', class: 'form-control' %>
            <%= button_tag 'Search', class: 'btn btn-success btn-block submit-btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="landing-main">
    <div class="info-container">
      <h2>What is WhatToCook?</h2>
      <p>Picture this - you come home after a long day and open your fridge only to find empty, sad-looking shelves. You might find an onion, some carrots or half a tube of tomato puree and you have no idea what to make for dinner. This is where WhatToCook comes in - type in the ingredients you already have, and we will provide you with recipes to match. </p>
    </div>

    <div class="info-container">
      <h2>Getting Started</h2>
      <p>Type the ingredients you already have into our search bar! We'll find matching recipes and let you know if you need to get your hands on any extra ingredients.</p>
    </div>

    <div class="info-container">
      <h2>Third block of text</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque inventore repudiandae suscipit debitis dolores aperiam maxime quia odit, architecto eius nemo quis ut labore. Assumenda voluptatum quia dolore ducimus ipsa.</p>
    </div>
  </div>
</div>
